# Byte-compiled / optimized
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Virtual environments
.venv/
venv/

# Output
output/
*.pdf

# IDE
.idea/
.vscode/

# Environment
.env
